
.auth-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;     
  height: 100vh;           
  position: relative;
  background-color: #f5f5f5;
  column-gap: 3rem;
}

.form-side {
  padding: 20px;
  box-sizing: border-box;
  width: 45%;
}

.auth-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.header-label {
  flex: 1;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.header-label strong {
  font-size: 20px;
  font-weight: bold;
}

.header-label.active {
  font-weight: bold;
  color: #000;
}

.image-side {
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  height: 100%; 
  overflow: hidden; 
}

.image-side img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 90%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.error-message{
  color:  red;
}
button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  font-size: 14px;
}

p a {
  color: #4caf50;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    padding: 1rem;
  }

  .form-side,
  .image-side {
    width: 100%; 
  }

  .image-side img {
    height: auto; 
    object-fit: cover;
  }

  .auth-header {
    flex-direction: column;
    padding: 10px 0;
  }

  .header-label {
    flex: none;
    margin-bottom: 10px;
    width: 100%;
  }

  .image-side {
    display: none; 
  }
}

.auth-container {
  max-width: 100vw; 
  overflow-x: hidden; 
}
